In [9]:
import sys
import os
import importlib

# Get the project root directory (one level up from notebooks/)
project_root = os.path.abspath("..")
src_path = os.path.join(project_root, "src")

# Add src folder to Python path (at the beginning for priority)
if src_path not in sys.path:
    sys.path.insert(0, src_path)

# Verify files exist
import_path = os.path.join(src_path, "features.py")

In [11]:
from ingest import fetch_data
from features import build_features

# 1. Fetch raw data
df_raw = fetch_data("TSLA")

# 2. Build features
df_features = build_features(df_raw, ticker="TSLA")

# 3. Inspect
df_features.head()

2025-11-16 23:27:03,204 - INFO - Fetching TSLA data (attempt 1/3)
[*********************100%***********************]  1 of 1 completed
2025-11-16 23:27:03,413 - INFO - Saved TSLA data to /Users/eselasieakpablie/Documents/Python/Stock Predictor/data/raw/TSLA.csv
2025-11-16 23:27:03,414 - INFO - TSLA data range: 2025-10-15 00:00:00 to 2025-11-14 00:00:00 | Rows: 23
2025-11-16 23:27:03,414 - INFO - Building features for TSLA | Rows: 23
2025-11-16 23:27:03,424 - INFO - Saved processed features for TSLA | Rows: 23 | Path: /Users/eselasieakpablie/Documents/Python/Stock Predictor/data/processed/TSLA_features.csv

,Date,Open,High,Low,Close,Volume,return_1d,return_3d,return_7d,SMA_5,...,vol_5,vol_10,RSI_14,MACD,MACD_signal,Friday,Monday,Thursday,Tuesday,Wednesday
0,2025-10-15,434.899994,440.510010,426.329987,435.149994,71558200,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.000000,0.000000,False,False,False,False,True
1,2025-10-16,434.730011,439.350006,421.309998,428.750000,77189900,-0.014708,NaN,NaN,NaN,...,NaN,NaN,NaN,-0.510541,-0.102108,False,False,True,False,False
2,2025-10-17,425.500000,441.459991,423.600006,439.309998,89331600,0.024630,NaN,NaN,NaN,...,NaN,NaN,NaN,-0.062326,-0.094152,True,False,False,False,False
3,2025-10-20,443.869995,449.799988,440.609985,447.429993,63719000,0.018484,0.028220,NaN,NaN,...,NaN,NaN,NaN,0.937298,0.112138,False,True,False,False,False
4,2025-10-21,445.760010,449.299988,442.049988,442.600006,54412200,-0.010795,0.032303,NaN,438.647998,...,7.130681,NaN,NaN,1.324501,0.354611,False,False,False,True,False